@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

:root {
  --font-main: "Azeret Mono", monospace;
}
.main-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
}
